/* ==UserStyle==
@name           Darken watched video thumbnails
@namespace      https://gitlab.com/refragable/userstyles
@homepageURL    https://gitlab.com/refragable/userstyles
@supportURL     https://gitlab.com/refragable/userstyles/issues
@updateURL      https://gitlab.com/refragable/userstyles/-/raw/master/piped/darken-watched.user.styl
@version        1.0.0
@description    Makes watched videos more distinct
@license        CC0 https://creativecommons.org/share-your-work/public-domain/cc0/
@author         refragable (https://gitlab.com/refragable)
@preprocessor   stylus
@var            text        opacityVar      "Custom thumbnail opacity, higher = more visible"        0.34
==/UserStyle== */
@-moz-document domain("piped.video") {
    img.opacity-75 {
        opacity: opacityVar !important;
    }
}
