/* ==UserStyle==
@name           sr.ht Tweaks
@namespace      https://gitlab.com/refragable/userstyles
@homepageURL    https://gitlab.com/refragable/userstyles
@supportURL     https://gitlab.com/refragable/userstyles/issues
@updateURL      https://gitlab.com/refragable/userstyles/raw/master/sr.ht/sr.ht-tweaks.user.css
@version        1.2.2
@description    Minor adjustments for a more pleasant sourcehut experience.
@license        CC0 https://creativecommons.org/share-your-work/public-domain/cc0/
@author         refragable (https://gitlab.com/refragable)
@preprocessor   uso
==/UserStyle== */

@-moz-document domain("lists.sr.ht") {
    /* Enable wrapping for list messages */
    pre.message-body {
        white-space: pre-wrap;
    }
}

@-moz-document domain("meta.sr.ht") {
    /* The space is actually part of the class name... */
    textarea[class="form-control "] {
        min-height: 350px;
    }
}

@-moz-document domain("git.sr.ht") {
    /* Git History event wrapping */
    div.event > pre {
        white-space: pre-wrap;
    }
}
