/* ==UserStyle==
@name           Shaarli - River Mobile
@namespace      https://gitlab.com/refragable/userstyles
@homepageURL    https://gitlab.com/refragable/userstyles
@supportURL     https://gitlab.com/refragable/userstyles/issues
@updateURL      https://gitlab.com/refragable/userstyles/-/raw/master/shaarli/river-mobile.user.css
@version        1.0.1
@description    Original by tmos at userstyles.org | A mobile version of Shaarli River, which removes the frame and the background picture. Content is now full width, and the time is hidden. Perfect for smartphones and for a sidebar bookmark in Firefox!
@license        CC BY-NC-SA 4.0 https://creativecommons.org/licenses/by-nc-sa/4.0/
@author	        refragable (https://gitlab.com/refragable)
@preprocessor   uso
==/UserStyle== */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("(https?://).*?\\/(shaarli)\\/.*?") {
  body {
      background-image: none;
      background-color: #333;
  }
  #page {
      width: 100%;
      padding: 0;
  }
  .entry {
      padding: 10px;
      border-right: 0px none;
      border-left: 0px none;
  }
  #timer {
      display: none;
  }
}
