/* ==UserStyle==
@name           Shaarli - River Dark
@namespace      https://gitlab.com/refragable/userstyles
@homepageURL    https://gitlab.com/refragable/userstyles
@supportURL     https://gitlab.com/refragable/userstyles/issues
@updateURL      https://gitlab.com/refragable/userstyles/-/raw/master/shaarli/river-dark.user.css
@version        1.0.1
@description    Original by tmos at userstyles.org | A dark version of Shaarli River, cool for night reading and oled smartphones!
@license        CC BY-NC-SA 4.0 https://creativecommons.org/licenses/by-nc-sa/4.0/
@author	        refragable (https://gitlab.com/refragable)
@preprocessor   uso
==/UserStyle== */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("(https?://).*?\\/(shaarli)\\/.*?") {
    body {
        color: #FCFCFC;
        font-size: 16px;
    }
    a {
        color: #1261E4;
    }
    #page {
        background-color: #222222;
    }
    .entry-shaarli {
        color: #FFF!important;
    }
    .entry:hover {
        background-color: #000;
    }
    .entry {
        border-top: 1px solid #000;
    }
    .btn-default {
        color: #FCFCFC;
        background-color: #333;
        border-color: #000;
    }
    .btn:hover {
        background-color: #000;
        color: #FCFCFC;
    }
}
