/* ==UserStyle==
@name           Hide Discord Nags
@namespace      https://gitlab.com/refragable/userstyles
@homepageURL    https://gitlab.com/refragable/userstyles
@supportURL     https://gitlab.com/refragable/userstyles/issues
@updateURL      https://gitlab.com/refragable/userstyles/-/raw/master/discord/hide-nags.user.css
@version        1.0.9
@description    Hide the banners, buttons, and other elements in the Discord webapp.
@license        CC0 https://creativecommons.org/share-your-work/public-domain/cc0/
@author         refragable (https://gitlab.com/refragable)
@preprocessor   uso
==/UserStyle== */

@-moz-document domain("discord.com") {
/* Hide the app download button */
[aria-label="Download Apps"] {
    display: none !important;
}
/* Hide "send a gift" button */
[aria-label="Send a gift"] {
    display: none !important;
}
/* Hide the "Download the desktop app"
 * nag banner */
div[class*="notice"] {
    display: none !important;
}
/* Hide the server welcome message */
div[class*="welcomeMessage"] {
    display: none !important;
}
/* Hide the channel invite nag */
div[class*="channelNotice"] {
    display: none !important;
}
/* Hide the consent card nag */
div[class*="consentCard"] {
    display: none !important;
}
/* Hide nitro store */
a[class*="clickable"][href="/store"] {
    display: none !important;
}
/* Hide the app nag below server beginning message */
div[class*="cardWrapper"] > div[class*="completed"][role="button"] {
    display: none !important;
}
/* Hide upsell nags (e.g. PlayStation Network connection) */
div[class*="upsellTooltipWrapper"] {
    display: none !important;
}
}
