/* ==UserStyle==
@name           Tildes - Hide votes on own submissions (deprecated)
@namespace      https://gitlab.com/refragable/userstyles
@homepageURL    https://gitlab.com/refragable/userstyles
@supportURL     https://gitlab.com/refragable/userstyles/issues
@updateURL      https://gitlab.com/refragable/userstyles/-/raw/master/tildes/hide-votes-on-own.user.css
@version        1.0.4
@description    This userstyle has been superseded by Tildes Tweaks https://gitlab.com/refragable/userstyles/-/raw/master/tildes/tildes-tweaks.user.styl
@license        CC0 https://creativecommons.org/share-your-work/public-domain/cc0/
@author	        refragable (https://gitlab.com/refragable)
@preprocessor   uso
==/UserStyle== */

@-moz-document domain("tildes.net") {
/* Hide vote counts on your own topics and comments */
.is-topic-mine > .topic-voting,
.is-comment-mine > .comment-itself > .comment-votes {
    display: none !important;
}
}
